body {
    margin: 0;
    background-color: #fff6e4; /* Off-white background */
    display: flex;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    flex-direction: column;
    align-items: center;
  }

  #image-cell {
    transition: transform .6s ease-out;
  }
  
  #image-cell p{
    transform: translateY(50px); 
    opacity: 0; 
    transition: opacity 1s ease-in, transform 1s ease-out; 
  }
  
  #image-cell img {
      transform: translateY(50px); 
      opacity: 0; 
      transition: opacity 1s ease-in, transform 1s ease-out;
      margin-bottom: 10px;
      border-radius: 10px; 
      box-shadow: 0 4px 8px rgba(0,0,0,0.4);
      object-fit: cover;
  }
  
  #image-cell:hover {
    transform: translateY(-15px);
  }
  
  #topbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff6e4;
    color: rgb(160, 160, 160);
    padding: 25px 40px;
  }
  #topbar #text {
    font-family: Arial,sans-serif;
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: .02em;
    font-family: omnes-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.1em;
    letter-spacing: .23em;
    text-transform: uppercase;
    padding: 0 20px;
  }
  #selection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }
  
  #selection button{
    cursor: pointer;
    font-family: Arial,sans-serif;
    border-color: #fff6e4;
    background-color: #fceccc;
    box-shadow: 0;
    height: 35px;
    margin: 0 10px;
    font-size: 32px;
    line-height: 1.25em;
    letter-spacing: .02em;
    font-family: omnes-pro;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 1.1em;
    letter-spacing: .23em;
    text-transform: uppercase;
    padding: 0 20px;
    transition: background-color .2s ease-out;
  }
  
  #selection button:hover{
    background-color: #e4d6bb;
    box-shadow: 0;
  
  }
  
  #selection button:active{
    background-color: #e4d6bb;
  }
  